#root
{
    -fx-background-color: #999999;
}

#anchorPane
{
    -fx-background-color: #8a2be2;
    -fx-background-radius: 20;
}


.button
{
    -fx-background-radius: 20;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-border-color: #b3b3b3;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-border-style: outset;
}


.label
{
    -fx-background-color: #ffffff;
}


#password
{
    -fx-background-color: #ffffff;

}


#username
{
    -fx-background-color: #ffffff;
}