#background
{
    -fx-background-color: #999999;
}

.button
{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 20;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

#pane
{
    -fx-background-color: #8a2be2;
    -fx-background-radius: 30;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-border-color: #a3a7a8;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-border-color: #2381E9 #a3a7a8 #a3a7a8 #a3a7a8;
    -fx-border-width: 5 1 1 1;   
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: white;
}


.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2381E9;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2381E9;
    -fx-font-weight: bold;
}


.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:white;
    -fx-border-color: #a3a7a8;
    -fx-border-width: 0 0 1 0;
    -fx-background-insets: 0;
}


.label
{
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

#profileContainer
{
    -fx-border-radius: 360;
}

#profileContainer2
{
    -fx-border-radius: 360;
}